{% extends "tasks/base.html" %}
{% block content %}
    <h2>
        To Do!
    </h2>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'task-create' %}">Create Task</a>
            <table class="table table-sm">
                <tr>
                    <th>Task</th>
                    <th>Update Task</th>
                    <th>Delete Task</th>
                </tr>
            {% for task in tasks %}
                <tr>
                    {% if task.complete == True %}
                        <td><strike>{{task.title}}</strike></td>
                    {% else %}
                        <td>{{task.title}}</td>
                    {% endif %}
                    <td><a href="{% url 'tasks-edit' task.id %}">Update Task</a></td>
                    <td><a href="{% url 'tasks-task-delete' task.id %}">Delete Task</a></td>
                </tr>
             {% endfor %}
            </table>
        </div>


{% endblock content %}

